@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Noto+Sans+TC:wght@400;700&family=Wendy+One&display=swap");

// font-face
$main-font: "Noto Sans TC", sans-serif;
$writing-font: "Comfortaa", sans-serif;
$special-font: "Wendy One", sans-serif;

// color-map
$main-color: #56c4c5;
$sub-color: #ffd153;
$accent-color: #ff5d50;
$title-color: #221e1f;
$note-color: #747474;
$note-mid-color: #dddddd;
$note-light-color: #f5f5f5;
$main-light-color: #f7f9fd;
$white: #ffffff;

$shadow: 0px 2px 10px #00000014;
