@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Noto+Sans+TC:wght@400;700&family=Wendy+One&display=swap");

// font-face
$main_font: "Noto Sans TC", sans-serif;
$writing_font: "Comfortaa", cursive;
$special_font: "Wendy One", sans-serif;

// color-map
$main_color: #56c4c5;
$sub_color: #ffd153;
$accent_color: #ff5d50;
$title_color: #221e1f;
$note_color: #747474;
$line_color: #dddddd;
$light_color: #f5f5f5;
$main_light_color: #f7f9fd;

$box_shadows: 0px 2px 10px #00000014;