@import "common";

.bg-img {
  background: url("../images/banner.svg") no-repeat right top;
  width: 55rem;
  height: 35rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.bg-shape {
  background-color: $main-light-color;
  border-radius: 0px 0px 0px 300px;
  width: 100%;
  height: 64vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}

// --- header
header {
  height: 64vh;

  h2 {
    margin: 92px 0 16px 0;
  }
}

@media (max-width: 376px) {
  .bg-img {
    background: url("../images/banner_sm.svg") no-repeat right top;
    width: 23.5rem;
    height: 31rem;
    position: absolute;
    top: 4rem;
    left: 0;
    z-index: -1;
  }

  .bg-shape {
    background-color: $main-light-color;
    border-radius: 0px 0px 0px 150px;
    width: 100%;
    height: 88vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
  }

  header {
    height: 85vh;

    h2 {
      margin: 48px 0 16px 0;
    }

    nav + .container {
      margin: 0 10px;
    }
  }
}

// --- program
.program {
  text-align: center;
  background: url("../images/ball03.svg") no-repeat -22% 72% / 22.5rem;
}

@media (max-width: 376px) {
  .program {
    background: url("../images/ball03.svg") no-repeat -65% 60% / 12.75rem;
  }
}

.population {
  margin-bottom: 64px;
  display: flex;
  justify-content: center;

  .population-item {
    text-align-last: left;
    margin: 0 8px;
  }
}

@media (max-width: 376px) {
  .program {
    h3 {
      margin-bottom: 24px;
    }

    .population {
      margin-bottom: 32px;
      // 原本的jcc在mobile會截到第一顆按鈕
      justify-content: start;
      // Horizontal Scrollable Menu
      overflow-x: scroll;
      white-space: nowrap;

      .population-item {
        margin: 0 3px;

        button {
          font-size: 1rem;
          line-height: 1.5;
          padding: 8px 16px;
        }
      }
    }
  }
}

.plan {
  display: flex;
  justify-content: space-evenly;

  .card {
    padding: 16px 32px;

    hr + p {
      margin: 32px 0;
    }

    .btn-main {
      margin-bottom: 8px;
    }
  }
}

@media (max-width: 376px) {
  .plan {
    flex-direction: column;
    margin-bottom: -24px;

    .card {
      padding: 16px;
      margin-bottom: 24px;

      hr + p {
        margin: 24px 0;
      }
    }
  }
}

.conversion {
  .subscriber {
    span,
    sub {
      color: $main-color;
    }
  }

  p {
    font-size: 0.75rem;
    line-height: 17px;
    margin-bottom: 8px;
  }

  span {
    font-family: $writing-font;
    font-size: 2rem;
    line-height: 35px;
  }

  sub {
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 17px;
    margin-left: 8px;
  }
}

@media (max-width: 376px) {
  .conversion {
    .subscriber {
      span {
        font-size: 1.75rem;
        line-height: 32px;
      }

      sub {
        margin-left: 4px;
      }
    }
  }
}

.plan-items {
  margin: 32px 0;
  text-align: left;

  li {
    padding: 8px 0;
  }
}

// --- FAQ
.FAQ {
  h3 {
    text-align: center;
  }

  .QA {
    li {
      display: flex;
      justify-content: space-between;
      align-items: start;
      padding: 16px 32px;
      margin: 16px 0;

      .answer {
        color: $note-color;
        margin-top: 24px;
        line-height: 32px;
      }
    }

    .collapse-active {
      .question {
        color: $main-color;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 376px) {
  .FAQ {
    .QA {
      li {
        padding: 16px;
        // margin: 16px 0;
      }
    }
  }
}
